body{
    margin: 0;
    padding: 0;
    background-color: rgb(85, 175, 226);
}

.game{
    width: 400px;
    height: 400px;
    margin: 100px auto;
    align-items: center;
}

.title{
    text-align: center;
}

.blocks{
    width: 120px;
    height: 120px;
    background: white;
    margin: 5px;
    float: left;
    cursor: pointer;
    text-align: center;
    font-size: 120px;
}